.wrapper{
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
img{
  width: 100px;
  width: 100px;
}
.green{
  border:3px solid green;
}
.blue{
  border:3px solid deepskyblue;
}
.red{
  border:3px solid red;
}
span
{
  margin: 20px;}
